<div class="form-header">
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>close</mat-icon></button>
  </div>

<h2>Baggage Policy</h2>
<mat-divider></mat-divider>
<div class="bag-policy-container">
    <div class="carry-on-container">
        <div>
            <img class="bag-icon" src="assets/suitcase.svg" />
        </div>
        <div class="text-container">
            <h4>1x Carry-on baggage</h4>
            <p><em>Up to 8 kg and max. 55 x 40 x 23 cm (height x width x depth)</em></p>
       </div>
    </div>
    <div class="cost-container">
        <h4>Cost: <b>Free</b></h4>
    </div>
</div>
<div class="bag-policy-container">
    <div class="carry-on-container">
        <div>
            <img class="bag-icon" src="assets/trolley-a.svg" />
        </div>
        <div class="text-container">
            <h4>1x Checked baggage</h4>
            <p><em>Up to 23 kg and 158 cm</em></p>
       </div>
    </div>
    <div class="cost-container">
        <h4>Cost: <b>20$</b></h4>
    </div>
</div>
<mat-divider></mat-divider>
<h2>Age policy</h2>
<div class="bag-policy-container">
    <div class="carry-on-container">
        <div>
            <mat-icon class="bag-icon" style="font-size: 50px">child_friendly</mat-icon>
        </div>
        <div class="text-container">
            <h4>Baby</h4>
            <p><em>Child uder 3 years</em></p>
       </div>
    </div>
    <div class="cost-container">
        <h4>Discount: <b>75%</b></h4>
    </div>
</div>
<div class="bag-policy-container">
    <div class="carry-on-container">
        <div>
            <mat-icon class="bag-icon" style="font-size: 50px">child_care</mat-icon>
        </div>
        <div class="text-container">
            <h4>Child</h4>
            <p><em>Child uder 18 years</em></p>
       </div>
    </div>
    <div class="cost-container">
        <h4>Discount: <b>50%</b></h4>
    </div>
</div>
<div class="bag-policy-container">
    <div class="carry-on-container">
        <div>
            <mat-icon class="bag-icon" style="font-size: 50px">person</mat-icon>
        </div>
        <div class="text-container">
            <h4>Adult</h4>
            <p><em>Person above 18 years</em></p>
       </div>
    </div>
    <div class="cost-container">
        <h4>Discount: <b>0%</b></h4>
    </div>
</div>